.listProduct {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 140px;
}
.listProduct__title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: rgba(36, 77, 77, 1);
}
.listProduct__subtitle {
	font-weight: 400;
	font-size: 20px;
	color: rgba(56, 55, 56, 1);
	margin-top: 20px;
	padding-right: 400px;
	margin-bottom: 80px;
}
.listProduct__card {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}
@media (max-width: 1234px) {
	.listProduct__adaptive {
		text-align: center;
	}
	.listProduct__subtitle {
		padding-right: 10px;
	}
	.listProduct__card {
		justify-content: center;
	}
}
