.mainPartThree {
	display: flex;
	max-width: 1200px;
	max-height: 577px;
	margin: 0 auto;
	margin-bottom: 140px;
}
.mainPartThree__about {
	padding-right: 120px;
}
.mainPartThree__title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #244d4d;
	padding-top: 20px;
	padding-bottom: 20px;
}
.mainPartThree__subtitle {
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
}
.mainPartThree__advantage {
	display: flex;
	flex-direction: column;
}
.mainPartThree__advantage__items {
	display: flex;
	gap: 20px;
	padding-top: 40px;
}
.mainPartThree__advantage__items__title {
	font-weight: 500;
	font-size: 24px;
	color: #244d4d;
	padding-top: 2px;
	padding-bottom: 15px;
}
.mainPartThree__advantage__items__subtitle {
	font-weight: 400;
	font-size: 18px;
	color: #383738;
	line-height: 26px;
}
.mainPartThree__advantage__items__logo {
	max-width: 50px;
	max-height: 50px;
}
.mainPartThree__room {
	max-height: 577px;
}
@media (max-width: 1050px) {
	.mainPartThree__about {
		padding-right: 45px;
	}
	.mainPartThree__room {
		max-height: 510px;
	}
}
@media (max-width: 820px) {
	.mainPartThree__room {
		display: none;
	}
}
