.mainPartTwo {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
	max-width: 1200px;
	margin-top: 140px;
}
.mainPartTwo__title {
	font-weight: 700;
	font-size: 32px;
	color: #244d4d;
}
.mainPartTwo__logo {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 140px;
}
.mainPartTwo__logo__airbnb {
	max-height: 36px;
}
@media (max-width: 1050px) {
	.mainPartTwo__logo {
		max-width: 800px;
		margin: 0 auto;
		gap: 30px;
		margin-bottom: 40px;
		margin-top: 50px;
	}
}
@media (max-width: 775px) {
	.mainPartTwo__logo {
		gap: 15px;
		flex-direction: column-reverse;
	}
}
