.card {
	max-width: 380px;
	max-height: 383px;
	box-shadow: 2px 13px 26px 2px rgba(0, 0, 0, 0.18);
}
.card__content {
	display: flex;
	flex-direction: column;
}
.card__stuff {
	display: flex;
	justify-content: space-between;
	padding: 30px 24px 30px 24px;
}
.card__stuff__icon {
	display: flex;
	gap: 10px;
}
.card__price {
	display: flex;
	justify-content: space-between;
	padding: 0px 24px 30px 24px;
}
.card__nameProduct {
	font-weight: 500;
	font-size: 20px;
	color: rgba(36, 77, 77, 1);
}
.card__price__dollars {
	font-weight: 500;
	font-size: 24px;
	color: rgba(21, 68, 68, 1);
}
.card__btn {
	max-width: 79px;
	max-height: 32px;
	border-radius: 6px;
	font-weight: 500;
	font-size: 12px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(36, 77, 77, 1);
	padding: 6px 14px 6px 14px;
	transition: transform 0.1s;
}
.card__btn:hover {
	transform: scale(1.1);
}
.card__btn:disabled {
	background-color: gray;
}
.card__pic {
	width: 380px;
	height: 246.34px;
}
.card__stuff__icon__like {
	background-color: rgba(252, 251, 255, 1);
	transition: transform 0.1s;
}
.card__stuff__icon__like:hover {
	transform: scale(1.1);
}
