.header__basket {
	width: 29px;
	transition: transform 0.1s;
	position: relative;
}
.header__basket:hover {
	transform: scale(1.2);
}
.btn {
	position: absolute;
	right: 129px;
	top: 29px;
	font-size: 11px;
	color: rgba(21, 68, 68, 1);
}
@media (max-width: 775px) {
	.btn {
		right: 35px;
		top: 29px;
	}
}
