.header {
	display: flex;
	justify-content: space-between;
	margin: 15px 120px 15px 120px;
	padding-top: 20px;
	padding-bottom: 10px;
	cursor: pointer;
}

.header__title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #244d4d;
	transition: transform 0.1s;
}
.header__title:hover {
	transform: scale(1.05);
}
.header__nav {
	font-weight: 400;
	font-size: 16px;
	color: #161616;
	display: flex;
	gap: 50px;
	cursor: pointer;
}
.header__title_hover {
	transition: transform 0.1s;
}
.header__title_hover:hover {
	color: #4e9385;
	transform: scale(1.1);
}

.header__menu {
	display: flex;
	gap: 40px;
}
.header__search {
	transition: transform 0.1s;
}
.header__search:hover {
	transform: scale(1.2);
}
.header_burger {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #244d4d;
	z-index: 2;
}
.header_burger span {
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #161616;
	left: 5px;
	transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header_burger span:nth-child(1) {
	transform: translateY(-10px);
}

.header_burger span:nth-child(3) {
	transform: translateY(10px);
}
.open .header_burger span:nth-child(1) {
	transform: translateY(0) rotate(45deg);
}
.open .header_burger span:nth-child(2) {
	opacity: 0;
}
.open .header_burger span:nth-child(3) {
	transform: translateY(0) rotate(45deg);
}

@media (max-width: 992px) {
	.header {
		margin: 15px 120px 15px 75px;
	}

	.header_burger {
		display: block;
	}
	.header__menu__nav {
		position: absolute;
		left: -200px;
		top: 20px;
		width: 175px;
		background-color: #d3ede8;
		padding: 51px 35px 22px 48px;
		transition: transform 0.5s;
		opacity: 90%;
	}
	.header__nav {
		display: block;
	}
	.header__title_hover {
		display: block;
		padding: 10px;
	}
	.open .header__menu__nav {
		transform: translateX(100%);
		left: -102px;
	}
}
@media (max-width: 775px) {
	.header {
		margin: 15px 26px 15px 26px;
	}
	.open .header__menu__nav {
		transform: translateX(100%);
		left: -149px;
	}
}
@media (max-width: 665px) {
	.header__menu__nav {
		left: -200px;
		top: 60px;
		width: 127px;

		padding: 51px 35px 22px 35px;
	}
	.open .header__menu__nav {
		transform: translateX(100%);
		left: -140px;
	}
}
