.footer {
	max-width: 1440px;
	background-color: rgba(48, 95, 100, 1);
}
.footer__container {
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}
.footer__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	padding-top: 80px;
	padding-bottom: 30px;
}
.footer__overview {
	font-weight: 400;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
	max-width: 340px;
	line-height: 24px;
	margin-bottom: 40px;
	opacity: 90%;
}
.footer__title__social {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 20px;
}
.footer__social {
	display: flex;
	gap: 15px;
	margin-bottom: 60px;
}
.footer__category {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-weight: 400;
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	opacity: 90%;
}
@media (max-width: 775px) {
	.footer__title {
		font-size: 14px;
	}
	.footer__container {
		gap: 15px;
	}
	.footer__overview {
		font-weight: 200;
		font-size: 12px;
	}
	.footer__category {
		gap: 10px;
		font-weight: 400;
		font-size: 12px;
	}
}
