.mainPartOne {
	margin-right: 120px;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.mainPartOne__tagline {
	max-width: 621px;
	max-height: 470px;
	grid-area: 1 / 1 / 3 / 4;
	z-index: 1;
	padding: 75px 41px 75px 120px;
	background-color: #154444;
	color: #ffffff;
}
.mainPartOne__pic {
	max-width: 972px;
	max-height: 700px;
	grid-area: 1 / 3 / 3 / 6;
}
.mainPartOne__title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 56px;
	line-height: 68.26px;
}
.mainPartOne__subtitle {
	margin-top: 30px;
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
}

@media (max-width: 1365px) {
	.mainPartOne__title {
		font-size: 30px;
		line-height: 40px;
	}
	.mainPartOne__subtitle {
		font-size: 20px;
		line-height: 29px;
	}

	.mainPartOne__tagline {
		max-width: 700px;
		max-height: 470px;
		grid-area: 1 / 5 / 3 / 1;
	}
	.mainPartOne__pic {
		max-width: 972px;
		max-height: 700px;
		grid-area: 1 / 3 / 3 / 6;
	}
}
@media (max-width: 1010px) {
	.mainPartOne__pic {
		max-width: 850px;
		max-height: 530px;
		grid-area: 1 / 3 / 3 / 6;
	}
}
@media (max-width: 775px) {
	.mainPartOne__pic {
		display: none;
	}
	.mainPartOne {
		display: block;
		margin-right: 0px;
	}
}
